<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981373035880-5085j7lq85k4ds15qrbntlncsp8jorl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981373035880-5085j7lq85k4ds15qrbntlncsp8jorl3</string>
	<key>API_KEY</key>
	<string>AIzaSyDKc95boIMe_YzbI5_xyqjp2eWTknuWrFY</string>
	<key>GCM_SENDER_ID</key>
	<string>981373035880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yopeYourpetSocialNetworking</string>
	<key>PROJECT_ID</key>
	<string>yope-your-pet-e4df8</string>
	<key>STORAGE_BUCKET</key>
	<string>yope-your-pet-e4df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981373035880:ios:f884bbe9e5eae8b0fa22dd</string>
</dict>
</plist>